extends layout

block content
    input(id="csrftoken", type="hidden", value="#{csrftoken}")



    input(id="docName", type="hidden", value="#{docName}")
    div(id="pdfDiv")
        div(id="pdfPage", style="position: fixed")
        div(id="docContainer", class="pdf-content")
            canvas(id="pdfCanvas")
            div(id="ldiv")

    link(rel="stylesheet", href="/stylesheets/doctree.css")
    link(rel="stylesheet", href="/libs/simplePagination/simplePagination.css")

    script(src="/libs/jquery-cookie-1.4.1/jquery.cookie.js")
    script(src="/libs/jqGrid/js/i18n/grid.locale-en.js")
    script(src="/libs/jquery-treetable/jquery.treetable.js")
    script(src="/libs/pdfjs/pdfjs-ui-utils.js")
    script(src="/libs/simplePagination/jquery.simplePagination.js ")
    script(src="/libs/underscore/underscore.js")


    script(src="/libs/pdfjs/pdf.js")
    script(src="/libs/pdfjs-dist/web/compatibility.js")
    script(src="/libs/pdfjs-dist/build/pdf.combined.js")
    script(src="/libs/pdfjs-dist/web/pdf_viewer.js")

    script(src="/scripts/doc.js")
