extends layout

block content
    input(id="csrftoken", type="hidden", value="#{csrftoken}")

    section
        hgroup
            h1 doc
            
        fieldset
            legend doc
            input(id="docName", type="hidden", value="#{docName}")

            div(id="pdfPage")
            div(id="docContainer", class="pdf-content")
                canvas(id="pdfCanvas")
                div(id="ldiv")

    link(rel="stylesheet", href="/stylesheets/doctree.css")
    link(rel="stylesheet", href="/libs/simplePagination/simplePagination.css")

    script(src="/libs/jquery-cookie-1.4.1/jquery.cookie.js")
    script(src="/libs/jqGrid/js/i18n/grid.locale-en.js")
    script(src="/libs/jquery-treetable/jquery.treetable.js")
    script(src="/libs/pdfjs/pdfjs-ui-utils.js")
    script(src="/libs/simplePagination/jquery.simplePagination.js ")
    script(src="/scripts/doctree.js")
    script(src="/scripts/doc.js")
