extends layout

block content
    section
        hgroup
            h1 Docs tree
        fieldset
            legend Docs tree

            div(id="doctreeContainer")

            form(id="uploadForm", enctype="multipart/form-data", action="/api/protected/journal/upload", method="post")
                div(hidden)
                    input(type="file", name="doc", id="hiddenSelectFile", accept=".pdf")
                    input(type="submit", name="submit", value="upload doc")
                    input(id="parentId", type="text", name="parentId")
                
                div
                    -if ( roles && roles.indexOf("admin") !== -1 ) {
                        input(id="addFolderDoc", type="button", class="btn btn-primary has-margin", value="add folder")
                        input(id="addDoc", type="button", class="btn btn-primary has-margin", value="add doc")
                        input(id="delDoc", type="button", class="btn btn-danger has-margin", value="del doc")
                    - }
                    input(id="downloadDoc", type="button", class="btn btn-success has-margin", value="download")
                span(id = "status")


    input(id="csrftoken", type="hidden", value="#{csrftoken}")

    section
        hgroup
            h1 doc tree
            
        fieldset
            legend doc tree
            
            div(id="pdfPage")
            div(id="docContainer", class="pdf-content")
                canvas(id="pdfCanvas")
                div(id="ldiv")

    link(href="/libs/jquery-treetable/css/jquery.treetable.css", rel="stylesheet", type="text/css")
    link(href="/libs/jquery-treetable/css/jquery.treetable.theme.default.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="libs/simplePagination/simplePagination.css")
    link(rel="stylesheet", href="/libs/sweetalert/dist/sweetalert.css")

    //link(rel="stylesheet", href="/libs/bootstrap-3.3.7-dist/css/bootstrap.css")

    script(src="/libs/jquery-cookie-1.4.1/jquery.cookie.js")
    script(src="/libs/jquery.form/jquery.form.js")
    script(src="/libs/jqGrid/js/i18n/grid.locale-en.js")
    script(src="/libs/jquery-treetable/jquery.treetable.js")
    script(src="/libs/pdfjs/pdfjs-ui-utils.js")
    script(src="/libs/simplePagination/jquery.simplePagination.js ")
    script(src="/libs/sweetalert/dist/sweetalert.min.js")
    script(src="/libs/filedownload/filedownload.js")

    script(src="/scripts/doctree.js")


    