extends layout

block content
    h1 Тестовая информационная база Магистраль сервис

    //img(src="/images/bg.jpg")


    input(id="_csrf", type="hidden", value="#{csrftoken}")
    script(src="/libs/jquery-cookie-1.4.1/jquery.cookie.js")
