doctype 5

html
  head
    title jwd nodejs server

    link(rel="stylesheet", href="/libs/jquery.ui/jquery-ui.css")
    link(rel="stylesheet", href="/stylesheets/common.css")
    script(src="/libs/jquery-1.8.3.min.js")
    script(src="/libs/pdfjs/pdf.js")

    script(src="/scripts/utils.js")
    script(src="/scripts/common.js")

    script(src="/libs/pdfjs-dist/web/compatibility.js")
    script(src="/libs/pdfjs-dist/build/pdf.combined.js")
    script(src="/libs/pdfjs-dist/web/pdf_viewer.js")

    //script(src="https://rawgit.com/mozilla/pdfjs-dist/master/web/compatibility.js")
    //script(src="https://rawgit.com/mozilla/pdfjs-dist/master/build/pdf.combined.js")
    //script(src="https://rawgit.com/mozilla/pdfjs-dist/master/web/pdf_viewer.js")

    block head
  body   
    header jwd nodejs server
        ul
            li 
                a(href="/register") Регистрация
            li 
                a(href="/login") Войти
            li 
                a(href="/doctree") Документы
            li 
                a(href="/") Домой
        
        fieldset
            legend status
            p(id="message")
            input(id="logoutBtn", type="button", value="logout")
          
    #body
        block content
      
    footer
      - var year = new Date().getFullYear();
      p Магистраль сервис, #{year}
