extends layout

block content
    section
        hgroup
            h1 login
            
        fieldset
            legend login
            ol
                li
                    label(for="login") Email address
                    input(id="login", type="email", value="j@m.ru")
                li
                    label(for="password") Password
                    input(id="password", type="password", value="123")

            input(id="csrftoken", type="hidden", value="#{csrftoken}")
            input(id="loginBtn", type="button", value="api login")

            br
            br
            br
            a(href="/register") register

    script(src="/libs/jquery-cookie-1.4.1/jquery.cookie.js")
