extends layout

block content
    section
        hgroup
            h1 login
            
        fieldset
            legend login
            ul
                li
                    label(for="login") email or login
                    input(id="login", type="text")
                li
                    label(for="password") Password
                    input(id="password", type="password")

            input(id="csrftoken", type="hidden", value="#{csrftoken}")
            input(id="loginBtn", type="button", class="btn btn-primary", value="Войти")

            br
            br
            a(href="/register") register
            br
            br
            br

    script(src="/libs/jquery-cookie-1.4.1/jquery.cookie.js")
