extends layout

block content
    section
        hgroup
            h1 register
    
        fieldset
            legend register
            ul
                li
                    label(for="login") email or login
                    input(id="login", type="text")
                li
                    label(for="password") Password
                    input(id="password", type="password")
                li
                    label(for="confirmPassword") Confirm password
                    input(id="confirmPassword", type="password")
            
            input(id="csrftoken", type="hidden", value="#{csrftoken}")
            input(id="registerBtn", type="button", class="btn btn-primary", value="Зарегистрироваться")

            br
            br
            br
            a(href="/login") login here

    //script(src="//code.jquery.com/jquery-2.2.0.min.js")
    script(src="/libs/jquery-cookie-1.4.1/jquery.cookie.js")
