extends layout

block content
    section
        hgroup
            h1 serial port

        fieldset
            legend Port settings

            b
                p(class="with-margin") wcf address
                input(id="wcfAddress", type="text", placeholder="wcf for serial port address", value="http://localhost:45558", readonly="readonly")
                input(id="setAddressEnable", type="button", value="set enable")

                div.status-message
                    b
                        p(id="statusMessage", class="with-margin") no ports found
                        p(id="spIsOpen", class="warning-text with-margin") port is closed
            
            //port settings
            div#portSettings.table_row
                div.table_column
                    b(class="with-margin") Port Kind
                    br
                    label
                        input(name="porttype", type="radio", value="Com", checked="checked", class="port-setting") 
                        | com
                    br
                    label
                        input(name="porttype", type="radio", value="Usb", class="port-setting") 
                        | usb
                div.table_column
                    b(class="with-margin") Port
                    br
                    div#serialPorts
                    br
                div.table_column
                    b(class="with-margin") Baund rate
                    br
                    label
                        input(name="baundrate", type="radio", value="9600", checked="checked", class="port-setting") 
                        | 9600
                    br
                    label
                        input(name="baundrate", type="radio", value="19200", class="port-setting") 
                        | 19200
                    br
                    label
                        input(name="baundrate", type="radio", value="38400", class="port-setting") 
                        | 38400
                    br
                    label
                        input(name="baundrate", type="radio", value="115200", class="port-setting") 
                        | 115200
                    br
                    label
                        input(name="baundrate", type="radio", value="460800", class="port-setting") 
                        | 460800

                div.table_column
                    b(class="with-margin") Parity
                    br
                    label
                        input(name="parity", type="radio", value="even", class="port-setting") 
                        | Even
                    br
                    label
                        input(name="parity", type="radio", value="mark", class="port-setting") 
                        | Mark
                    br
                    label
                        input(name="parity", type="radio", value="none", checked="checked", class="port-setting") 
                        | None
                    br
                    label
                        input(name="parity", type="radio", value="odd", class="port-setting")
                        | Odd
                    br
                    label
                        input(name="parity", type="radio", value="space", class="port-setting") 
                        | Space
                    br

                div.table_column
                    b(class="with-margin") Stop bits
                    br
                    label
                        input(name="stopbits", type="radio", value="None", class="port-setting") 
                        | None
                    br
                    label
                        input(name="stopbits", type="radio", value="One", checked="checked", class="port-setting") 
                        | One
                    br
                    label
                        input(name="stopbits", type="radio", value="OnePointFive", class="port-setting") 
                        | OnePointFive
                    br
                    label
                        input(name="stopbits", type="radio", value="Two", class="port-setting") 
                        | Two

                div.table_column
                    b(class="with-margin") Data bits
                    br
                    label
                        input(name="databits", type="radio", value="8", checked="checked", class="port-setting") 
                        | 8
                    br
                    label
                        input(name="databits", type="radio", value="7", class="port-setting") 
                        | 7
                    br
                    label
                        input(name="databits", type="radio", value="6", class="port-setting") 
                        | 6
                    br
                    label
                        input(name="databits", type="radio", value="5", class="port-setting")
                        | 5
                    br

            //init port
            input(id="spConnect", type="button", value="serial port connect")
            input(id="spDisconnect", type="button", value="serial port disconnect")
            br
            input(id="spRefresh", type="button", value="serial port refresh")
            input(id="spStopRefresh", type="button", value="stop serial port refresh")

            ul#ports
    
        fieldset
            legend CNC settings

            div.status-message
                b
                    p(id="cncStatusMessage", class="with-margin") CNC stopped
                    p(id="cncResponseMessage", class="warning-text with-margin") image not found

            //CNC, image settings
            div.table_row
                div.table_column
                    b(class="with-margin") avg color cutter
                    br         
                    input(id="imageConvertValue", type="text", placeholder="avg color cutter", value="200", class="with-margin cnc-setting")
                div.table_column
                    b(class="with-margin") cnc movier
                    br
                    label
                        input(name="cncMovier", type="radio", value="ByRow", checked="checked", class="with-margin cnc-setting") 
                        | by row
                    br
                    label
                        input(name="cncMovier", type="radio", value="ByPixel", class="with-margin cnc-setting") 
                        | by pixel
                div.table_column
                    b(class="with-margin") choose image
                    br         
                    input(id="chooseFile", type="file", name="choose file", class="with-margin cnc-setting")
                div.table_column
                    b(class="with-margin") start/stop CNC
                    br         
                    input(id="spStartCnc", type="button", value="start CNC", class="with-margin")
                    br         
                    input(id="spPauseCnc", type="button", value="pause CNC", class="with-margin")
                    br         
                    input(id="spStopCnc", type="button", value="stop CNC", class="with-margin")
                div.table_column
                    b(class="with-margin") moving delay(ms)
                    br         
                    input(id="movingDelay", type="text", placeholder="moving delay(ms)", value="50", class="with-margin cnc-setting")
            br

            label(id="imageCharacteristics")

            div#portSettings.table_row
                div.table_column
                    b(class="with-margin") original image
                    br
                    img(id="originalImagePreview", src="#", class="preview-image")
                div.table_column
                    b(class="with-margin") b&w image
                    br
                    img(id="bitmapImagePreview", src="#", class="preview-image")

                div.table_column
                    b(class="with-margin") b&w image canvas
                    br
                    canvas(id="canvasImagePreview", class="preview-image")

        fieldset
            legend CNC logging
            
            a(id="setVisibleLogging", type="button", class="set-visible") show/hide logging
            div.table_row
                textarea(id="logging", rows="5", cols="100")

        input(id="spSendData", type="text", value="8", placeholder="data to send")
        input(id="spSend", type="button", value="sp send")
        input(id="csrftoken", type="hidden", value="#{csrftoken}")


        input(id="signalR", type="button", value="signalR", placeholder="signalR")


    script(src="/libs/jquery-cookie-1.4.1/jquery.cookie.js")
    script(src="/scripts/serial_port.js")