//div
    div(id="workDiagram")

link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/gh/gionkunz/chartist-js/dist/chartist.min.css")
script(src="https://cdn.jsdelivr.net/gh/gionkunz/chartist-js/dist/chartist.js")