//div
    div(id="workDiagram")

link(rel="stylesheet", type="text/css", href="https://rawgit.com/gionkunz/chartist-js/master/dist/chartist.min.css")
script(src="https://rawgit.com/gionkunz/chartist-js/master/dist/chartist.js")